<input type="text" placeholder="{{'CharNamePlaceHolder'| language}}" [(ngModel)]="charToSearch" (ngModelChange)="searchCharaktere()">

<div *ngIf="charaktere">
  <fieldset *ngFor="let char of charaktere;let i = index" class="maincharFieldset">
    <legend>{{char.besitzer}}</legend>
    <div style="height:60px;">
      <img *ngIf="char.charakter.rarity>0" src="/assets/picture/star.png" class="sterne stern1">
      <img *ngIf="char.charakter.rarity<1" src="/assets/picture/nostar.png" class="sterne stern1">
      <img *ngIf="char.charakter.rarity>1" src="/assets/picture/star.png" class="sterne stern2">
      <img *ngIf="char.charakter.rarity<2" src="/assets/picture/nostar.png" class="sterne stern2">
      <img *ngIf="char.charakter.rarity>2" src="/assets/picture/star.png" class="sterne stern3">
      <img *ngIf="char.charakter.rarity<3" src="/assets/picture/nostar.png" class="sterne stern3">
      <img *ngIf="char.charakter.rarity>3" src="/assets/picture/star.png" class="sterne stern4">
      <img *ngIf="char.charakter.rarity<4" src="/assets/picture/nostar.png" class="sterne stern4">
      <img *ngIf="char.charakter.rarity>4" src="/assets/picture/star.png" class="sterne stern5">
      <img *ngIf="char.charakter.rarity<5" src="/assets/picture/nostar.png" class="sterne stern5">
      <img *ngIf="char.charakter.rarity>5" src="/assets/picture/star.png" class="sterne stern6">
      <img *ngIf="char.charakter.rarity<6" src="/assets/picture/nostar.png" class="sterne stern6">
      <img *ngIf="char.charakter.rarity>6" src="/assets/picture/star.png" class="sterne stern7">
      <img *ngIf="char.charakter.rarity<7" src="/assets/picture/nostar.png" class="sterne stern7">

      <img class="charImage" [src]="char.charakter | fleetimagelink" [alt]="char.charakter.nameKey">
      <img class="gearImage" [src]="char.charakter | gearlink" [alt]="char.charakter.nameKey">
      <span class="char-gear-level">{{char.charakter.level}}</span>
    </div>

    <div>{{'Charpower' | language}}: {{char.charakter.gp}}</div>

  </fieldset>
</div>
