<dx-select-box #selectBox [items]="possiblestats"
               value="Arenaleaders"></dx-select-box>

<dx-pie-chart *ngIf="selectBox.value == 'Arenaleaders'" [dataSource]="arenaLeaderDataSource"
              type="doughnut"
              title="Arenaleaders">

  <dxi-series argumentField="Leader" valueField="Value">
    <dxo-label [visible]="true">
      <dxo-connector [visible]="true"></dxo-connector>
    </dxo-label>
  </dxi-series>

  <dxo-tooltip [enabled]="true"
               [customizeTooltip]="customizeLeaderTooltip">
  </dxo-tooltip>
</dx-pie-chart>

<dx-pie-chart *ngIf="selectBox.value == 'Fleetleaders'" [dataSource]="fleetLeaderDataSource"
              type="doughnut"
              title="Fleetleaders">

  <dxi-series argumentField="Leader" valueField="Value">
    <dxo-label [visible]="true">
      <dxo-connector [visible]="true"></dxo-connector>
    </dxo-label>
  </dxi-series>

  <dxo-tooltip [enabled]="true"
               [customizeTooltip]="customizeLeaderTooltip">
  </dxo-tooltip>
</dx-pie-chart>

<!--Zetas-->
<div *ngIf="selectBox.value == 'Zetas'">

  <dx-chart [dataSource]="allZetas"
            title="Zetareport">
    <dxo-common-series-settings argumentField="skillName"
                valueField="anzahl"
                type="bar">
    </dxo-common-series-settings>

    <dxo-series-template nameField="skillName"></dxo-series-template>

    <dxo-tooltip [enabled]="true"
                 [customizeTooltip]="customizeLeaderTooltip">
    </dxo-tooltip>
  </dx-chart>

  Minval: <dx-number-box #numberbox [value]="1"
               [min]="1"
               [max]="1000"
               placeholder="Top"
               (onEnterKey)="topZetasChanged(numberbox)">
        </dx-number-box>

</div>
