<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink="/home" routerLinkActive="active" (click)="closeNav()">{{'Home' | language}}</a>
  <a routerLink="/newCharSearch" routerLinkActive="active" (click)="closeNav()">{{'Charsearch' | language}}</a>
  <a routerLink="/shipsearch" routerLinkActive="active" (click)="closeNav()">{{'Shipsearch' | language}}</a>
  <a routerLink="/squadsearch" routerLinkActive="active" (click)="closeNav()">{{'Squadsearch' | language}}</a>
  <a routerLink="/platoontool" routerLinkActive="active" (click)="closeNav()">{{'TB-Platoon' | language}}</a>
  <a routerLink="/raidplanner" routerLinkActive="active" (click)="closeNav()">{{'Raid-Planner' | language}}</a>
  <a routerLink="/arenateams" routerLinkActive="active" (click)="closeNav()">{{'ArenaTeams' | language}}</a>
  <a routerLink="/fleetarena" routerLinkActive="active" (click)="closeNav()">{{'Fleetarena' | language}}</a>
  <a routerLink="/membertracking" routerLinkActive="active" (click)="closeNav()">{{'Membertracking' | language}}</a>
  <a routerLink="/events" routerLinkActive="active" (click)="closeNav()">{{'Events' | language}}</a>
  <a routerLink="/zetas" routerLinkActive="active" (click)="closeNav()">{{'Zetas' | language}}</a>
  <a routerLink="/comparer" routerLinkActive="active" (click)="closeNav()">{{'Comparer' | language}}</a>
  <a routerLink="/settings" routerLinkActive="active" (click)="closeNav()">{{'Settings' | language}}</a>
  <a routerLink="/skinternal" routerLinkActive="active" (click)="closeNav()">{{'SKInternal' | language}}</a>
</div>

<!-- Use any element to open the sidenav -->
<div>
  <ul>
    <li>
      <a href="javascript:void(0)" (click)="openNav()">&#9776;</a>
    </li>
    <li style="float:right"><a routerLink="/settings" routerLinkActive="active" (click)="closeNav()">{{'Settings' | language}}</a></li>
  </ul>
  <div style="height:40px;">

  </div>
  <div>
    <router-outlet></router-outlet>
  </div>

  </div>
