<div style="width:100%;">
  <div style="width:68%; display: inline-block;">
    <select style="width:100%;" [(ngModel)]="selectedTeam" (ngModelChange)="getSquadsFromGildenInfos()">
      <option *ngFor="let team of myTeams" [ngValue]="team">{{team.Name}}</option>
    </select>
  </div>
  <div style="width: 30%; display: inline-block;">
<button (click)="deleteThisTeam()" style="display: inline-block; position: relative; padding: 7px 5px; width: 30%;">Del</button>
<button (click)="openModal()" style="display: inline-block; position: relative; padding: 7px 5px; width: 30%;">Add</button>
    </div>
</div>

<div *ngFor="let squad of squadsFromGildenInfos" class="charNow">
  <fieldset style="height:85%">
    <legend>{{selectedTeam.Name}} of {{squad[0].Besitzer}}</legend>
    Power: {{getPowerOfSquad(squad)}}
    <br />
    <div style="height:80%; width:100%">
      <div *ngIf="squad[0]" class="divForChar">
        <div class="parentOfImages">

          <img *ngIf="squad[0].Sterne>0" src="/assets/picture/star.png" class="star11">
          <img *ngIf="squad[0].Sterne<1" src="/assets/picture/nostar.png" class="star11">
          <img *ngIf="squad[0].Sterne>1" src="/assets/picture/star.png" class="star12">
          <img *ngIf="squad[0].Sterne<2" src="/assets/picture/nostar.png" class="star12">
          <img *ngIf="squad[0].Sterne>2" src="/assets/picture/star.png" class="star13">
          <img *ngIf="squad[0].Sterne<3" src="/assets/picture/nostar.png" class="star13">
          <img *ngIf="squad[0].Sterne>3" src="/assets/picture/star.png" class="star14">
          <img *ngIf="squad[0].Sterne<4" src="/assets/picture/nostar.png" class="star14">
          <img *ngIf="squad[0].Sterne>4" src="/assets/picture/star.png" class="star15">
          <img *ngIf="squad[0].Sterne<5" src="/assets/picture/nostar.png" class="star15">
          <img *ngIf="squad[0].Sterne>5" src="/assets/picture/star.png" class="star16">
          <img *ngIf="squad[0].Sterne<6" src="/assets/picture/nostar.png" class="star16">
          <img *ngIf="squad[0].Sterne>6" src="/assets/picture/star.png" class="star17">
          <img *ngIf="squad[0].Sterne<7" src="/assets/picture/nostar.png" class="star17">

          <img *ngIf="squad[0].Zetas>=1" src="/assets/picture/zeta.png" class="zeta1">
          <img *ngIf="squad[0].Zetas>=2" src="/assets/picture/zeta.png" class="zeta2">
          <img *ngIf="squad[0].Zetas>=3" src="/assets/picture/zeta.png" class="zeta3">

          <img class="charImage" src="/assets/picture/{{squad[0].imageUrl}}" alt="{{squad[0].Name}}">
          <img class="gearImage" src="/assets/GearPNG/gear-icon-g{{squad[0].gearLevel}}.png" alt="{{squad[0].Name}}">
          <span class="char-level">{{squad[0].Level}}</span>
          <span class="char-gear-level">{{formatGearLevel(squad[0].gearLevel)}}</span>
          <progress class="progress1" value="{{squad[0].Power}}" max="{{squad[0].MaxPower}}"></progress> <span class="progressText"><b>{{ roundNumber((squad[0].Power/squad[0].MaxPower)*100) }}%</b></span>
        </div>
        
      </div>

      <div *ngIf="squad[1]" class="divForChar">
        <div class="parentOfImages">

          <img *ngIf="squad[1].Sterne>0" src="/assets/picture/star.png" class="star11">
          <img *ngIf="squad[1].Sterne<1" src="/assets/picture/nostar.png" class="star11">
          <img *ngIf="squad[1].Sterne>1" src="/assets/picture/star.png" class="star12">
          <img *ngIf="squad[1].Sterne<2" src="/assets/picture/nostar.png" class="star12">
          <img *ngIf="squad[1].Sterne>2" src="/assets/picture/star.png" class="star13">
          <img *ngIf="squad[1].Sterne<3" src="/assets/picture/nostar.png" class="star13">
          <img *ngIf="squad[1].Sterne>3" src="/assets/picture/star.png" class="star14">
          <img *ngIf="squad[1].Sterne<4" src="/assets/picture/nostar.png" class="star14">
          <img *ngIf="squad[1].Sterne>4" src="/assets/picture/star.png" class="star15">
          <img *ngIf="squad[1].Sterne<5" src="/assets/picture/nostar.png" class="star15">
          <img *ngIf="squad[1].Sterne>5" src="/assets/picture/star.png" class="star16">
          <img *ngIf="squad[1].Sterne<6" src="/assets/picture/nostar.png" class="star16">
          <img *ngIf="squad[1].Sterne>6" src="/assets/picture/star.png" class="star17">
          <img *ngIf="squad[1].Sterne<7" src="/assets/picture/nostar.png" class="star17">

          <img *ngIf="squad[1].Zetas>=1" src="/assets/picture/zeta.png" class="zeta1">
          <img *ngIf="squad[1].Zetas>=2" src="/assets/picture/zeta.png" class="zeta2">
          <img *ngIf="squad[1].Zetas>=3" src="/assets/picture/zeta.png" class="zeta3">

          <img class="charImage" src="/assets/picture/{{squad[1].imageUrl}}" alt="{{squad[1].Name}}">
          <img class="gearImage" src="/assets/GearPNG/gear-icon-g{{squad[1].gearLevel}}.png" alt="{{squad[1].Name}}">
          <span class="char-level">{{squad[1].Level}}</span>
          <span class="char-gear-level">{{formatGearLevel(squad[1].gearLevel)}}</span>
          <progress class="progress1" value="{{squad[1].Power}}" max="{{squad[1].MaxPower}}"></progress> <span class="progressText"><b>{{ roundNumber((squad[1].Power/squad[1].MaxPower)*100) }}%</b></span>
        </div>
        
      </div>

      <div *ngIf="squad[2]" class="divForChar">
        <div class="parentOfImages">

          <img *ngIf="squad[2].Sterne>0" src="/assets/picture/star.png" class="star11">
          <img *ngIf="squad[2].Sterne<1" src="/assets/picture/nostar.png" class="star11">
          <img *ngIf="squad[2].Sterne>1" src="/assets/picture/star.png" class="star12">
          <img *ngIf="squad[2].Sterne<2" src="/assets/picture/nostar.png" class="star12">
          <img *ngIf="squad[2].Sterne>2" src="/assets/picture/star.png" class="star13">
          <img *ngIf="squad[2].Sterne<3" src="/assets/picture/nostar.png" class="star13">
          <img *ngIf="squad[2].Sterne>3" src="/assets/picture/star.png" class="star14">
          <img *ngIf="squad[2].Sterne<4" src="/assets/picture/nostar.png" class="star14">
          <img *ngIf="squad[2].Sterne>4" src="/assets/picture/star.png" class="star15">
          <img *ngIf="squad[2].Sterne<5" src="/assets/picture/nostar.png" class="star15">
          <img *ngIf="squad[2].Sterne>5" src="/assets/picture/star.png" class="star16">
          <img *ngIf="squad[2].Sterne<6" src="/assets/picture/nostar.png" class="star16">
          <img *ngIf="squad[2].Sterne>6" src="/assets/picture/star.png" class="star17">
          <img *ngIf="squad[2].Sterne<7" src="/assets/picture/nostar.png" class="star17">

          <img *ngIf="squad[2].Zetas>=1" src="/assets/picture/zeta.png" class="zeta1">
          <img *ngIf="squad[2].Zetas>=2" src="/assets/picture/zeta.png" class="zeta2">
          <img *ngIf="squad[2].Zetas>=3" src="/assets/picture/zeta.png" class="zeta3">

          <img class="charImage" src="/assets/picture/{{squad[2].imageUrl}}" alt="{{squad[2].Name}}">
          <img class="gearImage" src="/assets/GearPNG/gear-icon-g{{squad[2].gearLevel}}.png" alt="{{squad[2].Name}}">
          <span class="char-level">{{squad[2].Level}}</span>
          <span class="char-gear-level">{{formatGearLevel(squad[2].gearLevel)}}</span>
          <progress class="progress1" value="{{squad[2].Power}}" max="{{squad[2].MaxPower}}"></progress> <span class="progressText"><b>{{ roundNumber((squad[2].Power/squad[2].MaxPower)*100) }}%</b></span>
        </div>
        
      </div>

      <div *ngIf="squad[3]" class="divForChar">
        <div class="parentOfImages">

          <img *ngIf="squad[3].Sterne>0" src="/assets/picture/star.png" class="star11">
          <img *ngIf="squad[3].Sterne<1" src="/assets/picture/nostar.png" class="star11">
          <img *ngIf="squad[3].Sterne>1" src="/assets/picture/star.png" class="star12">
          <img *ngIf="squad[3].Sterne<2" src="/assets/picture/nostar.png" class="star12">
          <img *ngIf="squad[3].Sterne>2" src="/assets/picture/star.png" class="star13">
          <img *ngIf="squad[3].Sterne<3" src="/assets/picture/nostar.png" class="star13">
          <img *ngIf="squad[3].Sterne>3" src="/assets/picture/star.png" class="star14">
          <img *ngIf="squad[3].Sterne<4" src="/assets/picture/nostar.png" class="star14">
          <img *ngIf="squad[3].Sterne>4" src="/assets/picture/star.png" class="star15">
          <img *ngIf="squad[3].Sterne<5" src="/assets/picture/nostar.png" class="star15">
          <img *ngIf="squad[3].Sterne>5" src="/assets/picture/star.png" class="star16">
          <img *ngIf="squad[3].Sterne<6" src="/assets/picture/nostar.png" class="star16">
          <img *ngIf="squad[3].Sterne>6" src="/assets/picture/star.png" class="star17">
          <img *ngIf="squad[3].Sterne<7" src="/assets/picture/nostar.png" class="star17">

          <img *ngIf="squad[3].Zetas>=1" src="/assets/picture/zeta.png" class="zeta1">
          <img *ngIf="squad[3].Zetas>=2" src="/assets/picture/zeta.png" class="zeta2">
          <img *ngIf="squad[3].Zetas>=3" src="/assets/picture/zeta.png" class="zeta3">

          <img class="charImage" src="/assets/picture/{{squad[3].imageUrl}}" alt="{{squad[3].Name}}">
          <img class="gearImage" src="/assets/GearPNG/gear-icon-g{{squad[3].gearLevel}}.png" alt="{{squad[3].Name}}">
          <span class="char-level">{{squad[3].Level}}</span>
          <span class="char-gear-level">{{formatGearLevel(squad[3].gearLevel)}}</span>
          <progress class="progress1" value="{{squad[3].Power}}" max="{{squad[3].MaxPower}}"></progress> <span class="progressText"><b>{{ roundNumber((squad[3].Power/squad[3].MaxPower)*100) }}%</b></span>
        </div>
        
      </div>

      <div *ngIf="squad[4]" class="divForChar">
        <div class="parentOfImages">

          <img *ngIf="squad[4].Sterne>0" src="/assets/picture/star.png" class="star11">
          <img *ngIf="squad[4].Sterne<1" src="/assets/picture/nostar.png" class="star11">
          <img *ngIf="squad[4].Sterne>1" src="/assets/picture/star.png" class="star12">
          <img *ngIf="squad[4].Sterne<2" src="/assets/picture/nostar.png" class="star12">
          <img *ngIf="squad[4].Sterne>2" src="/assets/picture/star.png" class="star13">
          <img *ngIf="squad[4].Sterne<3" src="/assets/picture/nostar.png" class="star13">
          <img *ngIf="squad[4].Sterne>3" src="/assets/picture/star.png" class="star14">
          <img *ngIf="squad[4].Sterne<4" src="/assets/picture/nostar.png" class="star14">
          <img *ngIf="squad[4].Sterne>4" src="/assets/picture/star.png" class="star15">
          <img *ngIf="squad[4].Sterne<5" src="/assets/picture/nostar.png" class="star15">
          <img *ngIf="squad[4].Sterne>5" src="/assets/picture/star.png" class="star16">
          <img *ngIf="squad[4].Sterne<6" src="/assets/picture/nostar.png" class="star16">
          <img *ngIf="squad[4].Sterne>6" src="/assets/picture/star.png" class="star17">
          <img *ngIf="squad[4].Sterne<7" src="/assets/picture/nostar.png" class="star17">

          <img *ngIf="squad[4].Zetas>=1" src="/assets/picture/zeta.png" class="zeta1">
          <img *ngIf="squad[4].Zetas>=2" src="/assets/picture/zeta.png" class="zeta2">
          <img *ngIf="squad[4].Zetas>=3" src="/assets/picture/zeta.png" class="zeta3">

          <img class="charImage" src="/assets/picture/{{squad[4].imageUrl}}" alt="{{squad[4].Name}}">
          <img class="gearImage" src="/assets/GearPNG/gear-icon-g{{squad[4].gearLevel}}.png" alt="{{squad[4].Name}}">
          <span class="char-level">{{squad[4].Level}}</span>
          <span class="char-gear-level">{{formatGearLevel(squad[4].gearLevel)}}</span>
          <progress class="progress1" value="{{squad[4].Power}}" max="{{squad[4].MaxPower}}"></progress> <span class="progressText"><b>{{ roundNumber((squad[4].Power/squad[4].MaxPower)*100) }}%</b></span>
        </div>
        
      </div>

    </div>
  </fieldset>
</div>



<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Add a Squad</h2>
    </div>
    <div class="modal-body">

      <p>
        <input type="text" placeholder="Squadname ( e.g 'Phönix' or 'Brotini'  )" [(ngModel)]="squadName">
      </p>
      <p style="width:100%;">
        Leader :
        <select *ngIf="!(settingsService.settings.useAutoComplete)" [(ngModel)]="selectedLeader">
          <option *ngFor="let char of gildenService.charInfos" [ngValue]="char.name">{{char.name}}</option>
        </select>

        <ngx-select-dropdown *ngIf="(settingsService.settings.useAutoComplete)"  [config]="autoCompleteConfig" [options]="gildenService.charInfos"
                             [(value)]="selectedLeader" [multiple]="false">
        </ngx-select-dropdown>
      </p>
      <p style="width:100%;">
        Char 2 :
        <select *ngIf="!(settingsService.settings.useAutoComplete)" [(ngModel)]="selectedChar2">
          <option *ngFor="let char of gildenService.charInfos" [ngValue]="char.name">{{char.name}}</option>
        </select>

        <ngx-select-dropdown *ngIf="(settingsService.settings.useAutoComplete)" [config]="autoCompleteConfig" [options]="gildenService.charInfos"
                             [(value)]="selectedChar2" [multiple]="false">
        </ngx-select-dropdown>
      </p>
      <p style="width:100%;">
        Char 3 :
        <select *ngIf="!(settingsService.settings.useAutoComplete)" [(ngModel)]="selectedChar3">
          <option *ngFor="let char of gildenService.charInfos" [ngValue]="char.name">{{char.name}}</option>
        </select>

        <ngx-select-dropdown *ngIf="(settingsService.settings.useAutoComplete)" [config]="autoCompleteConfig" [options]="gildenService.charInfos"
                             [(value)]="selectedChar3" [multiple]="false">
        </ngx-select-dropdown>
      </p>
      <p style="width:100%;">
        Char 4 :
        <select *ngIf="!(settingsService.settings.useAutoComplete)" [(ngModel)]="selectedChar4">
          <option *ngFor="let char of gildenService.charInfos" [ngValue]="char.name">{{char.name}}</option>
        </select>

        <ngx-select-dropdown *ngIf="(settingsService.settings.useAutoComplete)" [config]="autoCompleteConfig" [options]="gildenService.charInfos"
                             [(value)]="selectedChar4" [multiple]="false">
        </ngx-select-dropdown>
      </p>
      <p style="width:100%;">
        Char 5 :
        <select *ngIf="!(settingsService.settings.useAutoComplete)" [(ngModel)]="selectedChar5">
          <option *ngFor="let char of gildenService.charInfos" [ngValue]="char.name">{{char.name}}</option>
        </select>

        <ngx-select-dropdown *ngIf="(settingsService.settings.useAutoComplete)" [config]="autoCompleteConfig" [options]="gildenService.charInfos"
                             [(value)]="selectedChar5" [multiple]="false">
        </ngx-select-dropdown>
      </p>

      <button style="width: 100%" (click)="addSquadToMyTeams()">Confirm</button>

    </div>
  </div>

</div>
