<table id="raidplannerTable" style="width:100%">
  <tr>
    <th>Member</th>
    <th *ngFor="let squad of squads" (click)="alertSquad(squad)">{{squad.Name}}</th>
  </tr>
  <tr *ngFor="let player of gildenService.gildenInfos.roster">
    <td>{{player.name}}</td>
    <td *ngFor="let squad of squads">

      <div *ngIf='(playerGotSquad(player, squad.Name) == 3)' style="background-color:green">{{playerGotSquad(player, squad.Name)}}</div>
      <div *ngIf='playerGotSquad(player, squad.Name) == 2' style="background-color:blue">{{playerGotSquad(player, squad.Name)}}</div>
      <div *ngIf='playerGotSquad(player, squad.Name) == 1' style="background-color:yellow">{{playerGotSquad(player, squad.Name)}}</div>
      <div *ngIf='playerGotSquad(player, squad.Name) == 0' style="background-color:orange">{{playerGotSquad(player, squad.Name)}}</div>
      <div *ngIf='playerGotSquad(player, squad.Name) < 0' style="background-color:brown">{{playerGotSquad(player, squad.Name)}}</div>

    </td>

  </tr>
  </table>
