<div style="width:100%;">

  <div>

    <select style="width:80%; display:inline-block;" [(ngModel)]="ActualPlayer">
      <option *ngFor="let player of gildenService.gildenInfos.Members" [ngValue]="player">{{player.Name}}</option>
    </select>

    <button (click)="openModal()" style="width:10%; display:inline-block;">
      Add Team
    </button>

  </div>

  <table id="raidplannerTable" style="width:100%">
    <tr>
      <th>Phase{{resetDmgDone()}}</th>
      <th>Player</th>
      <th>Team</th>
      <th>Needed Dmg</th>
      <th>Target %</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let squadForRaid of Phase1; let i = index">
      <td>P1</td>
      <td>{{squadForRaid.owner}}</td>
      <td><p *ngIf="squadForRaid.charaktere.length > 0" style="float:left">{{squadForRaid.charaktere[0].Name}},&nbsp;</p><p *ngIf="squadForRaid.charaktere.length > 1" style="float:left">{{squadForRaid.charaktere[1].Name}},&nbsp;<p *ngIf="squadForRaid.charaktere.length > 2" style="float:left">{{squadForRaid.charaktere[2].Name}}, <p *ngIf="squadForRaid.charaktere.length > 3" style="float:left">{{squadForRaid.charaktere[3].Name}},&nbsp;<p *ngIf="squadForRaid.charaktere.length > 4" style="float:left">{{squadForRaid.charaktere[4].Name}}</td>
      <td>{{squadForRaid.damage}}%</td>
      <td>{{getDmg1Now(squadForRaid.damage)}}%</td>
      <td><button (click)="openModalEDIT(squadForRaid, 1, i)">Edit</button><button (click)="removeSquadP1(squadForRaid)" style="margin-left: 5px;">Del</button></td>
    </tr>
    <tr *ngFor="let squadForRaid of Phase2 let i = index">
      <td>P2</td>
      <td>{{squadForRaid.owner}}</td>
      <td><p *ngIf="squadForRaid.charaktere.length > 0" style="float:left">{{squadForRaid.charaktere[0].Name}},&nbsp;</p><p *ngIf="squadForRaid.charaktere.length > 1" style="float:left">{{squadForRaid.charaktere[1].Name}},&nbsp;<p *ngIf="squadForRaid.charaktere.length > 2" style="float:left">{{squadForRaid.charaktere[2].Name}}, <p *ngIf="squadForRaid.charaktere.length > 3" style="float:left">{{squadForRaid.charaktere[3].Name}},&nbsp;<p *ngIf="squadForRaid.charaktere.length > 4" style="float:left">{{squadForRaid.charaktere[4].Name}}</td>
      <td>{{squadForRaid.damage}}%</td>
      <td>{{getDmg2Now(squadForRaid.damage)}}%</td>
      <td><button (click)="openModalEDIT(squadForRaid, 2, i)">Edit</button><button (click)="removeSquadP2(squadForRaid)" style="margin-left: 5px;">Del</button></td>
    </tr>
    <tr *ngFor="let squadForRaid of Phase3 let i = index">
      <td>P3</td>
      <td>{{squadForRaid.owner}}</td>
      <td><p *ngIf="squadForRaid.charaktere.length > 0" style="float:left">{{squadForRaid.charaktere[0].Name}},&nbsp;</p><p *ngIf="squadForRaid.charaktere.length > 1" style="float:left">{{squadForRaid.charaktere[1].Name}},&nbsp;<p *ngIf="squadForRaid.charaktere.length > 2" style="float:left">{{squadForRaid.charaktere[2].Name}}, <p *ngIf="squadForRaid.charaktere.length > 3" style="float:left">{{squadForRaid.charaktere[3].Name}},&nbsp;<p *ngIf="squadForRaid.charaktere.length > 4" style="float:left">{{squadForRaid.charaktere[4].Name}}</td>
      <td>{{squadForRaid.damage}}%</td>
      <td>{{getDmg3Now(squadForRaid.damage)}}%</td>
      <td><button (click)="openModalEDIT(squadForRaid, 3, i)">Edit</button><button (click)="removeSquadP3(squadForRaid)" style="margin-left: 5px;">Del</button></td>
    </tr>
    <tr *ngFor="let squadForRaid of Phase4 let i = index">
      <td>P4</td>
      <td>{{squadForRaid.owner}}</td>
      <td><p *ngIf="squadForRaid.charaktere.length > 0" style="float:left">{{squadForRaid.charaktere[0].Name}},&nbsp;</p><p *ngIf="squadForRaid.charaktere.length > 1" style="float:left">{{squadForRaid.charaktere[1].Name}},&nbsp;<p *ngIf="squadForRaid.charaktere.length > 2" style="float:left">{{squadForRaid.charaktere[2].Name}}, <p *ngIf="squadForRaid.charaktere.length > 3" style="float:left">{{squadForRaid.charaktere[3].Name}},&nbsp;<p *ngIf="squadForRaid.charaktere.length > 4" style="float:left">{{squadForRaid.charaktere[4].Name}}</td>
      <td>{{squadForRaid.damage}}%</td>
      <td>{{getDmg4Now(squadForRaid.damage)}}%</td>
      <td><button (click)="openModalEDIT(squadForRaid, 4, i)">Edit</button><button (click)="removeSquadP4(squadForRaid)" style="margin-left: 5px;">Del</button></td>
    </tr>
  </table>

</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="height:80%">
    <div class="modal-header" style="height:10%">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Add a Squad</h2>
    </div>
    <div class="modal-body" style="height: 70%;">

      <div style="height:100%; overflow:scroll;">

        <div *ngFor="let charakter of ActualPlayer.Charaktere">

          <fieldset *ngIf="(charakter.Sterne > 6) && !( charAlreadyPlaced(charakter) )" style="height: 135px;" (click)="selectChar(charakter)">
            <legend>{{charakter.Name}} of {{charakter.Besitzer}}</legend>
            Power: {{charakter.Power}}
            <br />
            <div class="parentOfImages">
              <img *ngIf="charakter.Sterne>0" src="/assets/picture/star.png" class="star11">
              <img *ngIf="charakter.Sterne>1" src="/assets/picture/star.png" class="star12">
              <img *ngIf="charakter.Sterne<2" src="/assets/picture/nostar.png" class="star12">
              <img *ngIf="charakter.Sterne>2" src="/assets/picture/star.png" class="star13">
              <img *ngIf="charakter.Sterne<3" src="/assets/picture/nostar.png" class="star13">
              <img *ngIf="charakter.Sterne>3" src="/assets/picture/star.png" class="star14">
              <img *ngIf="charakter.Sterne<4" src="/assets/picture/nostar.png" class="star14">
              <img *ngIf="charakter.Sterne>4" src="/assets/picture/star.png" class="star15">
              <img *ngIf="charakter.Sterne<5" src="/assets/picture/nostar.png" class="star15">
              <img *ngIf="charakter.Sterne>5" src="/assets/picture/star.png" class="star16">
              <img *ngIf="charakter.Sterne<6" src="/assets/picture/nostar.png" class="star16">
              <img *ngIf="charakter.Sterne>6" src="/assets/picture/star.png" class="star17">
              <img *ngIf="charakter.Sterne<7" src="/assets/picture/nostar.png" class="star17">

              <img *ngIf="charakter.Zetas>=1" src="/assets/picture/zeta.png" class="zeta1">
              <img *ngIf="charakter.Zetas>=2" src="/assets/picture/zeta.png" class="zeta2">
              <img *ngIf="charakter.Zetas>=3" src="/assets/picture/zeta.png" class="zeta3">

              <div>
                <img class="charImage" src="/assets/picture/{{charakter.imageUrl}}" alt="{{charakter.Name}}">
                <img class="gearImage" src="/assets/GearPNG/gear-icon-g{{charakter.gearLevel}}.png" alt="{{charakter.Name}}">
                <span class="char-level">{{charakter.Level}}</span>
                <span class="char-gear-level">{{formatGearLevel(charakter.gearLevel)}}</span>
              </div>
              <progress class="" value="{{charakter.Power}}" max="{{charakter.MaxPower}}"></progress> <span style="left: 55px; position: absolute; top: 80px; "><b>{{ roundNumber((charakter.Power/charakter.MaxPower)*100) }}%</b></span>

              <img class="selectedImg" src="/assets/picture/selected.jpg" *ngIf="SelectedChars.indexOf(charakter) > -1">

            </div>
          </fieldset>

        </div>
      </div>
    </div>

    <div class="modal-body" style="height: 20%;">

      Phase:
      <select style="width:30%;" [(ngModel)]="SelectedPhase">
        <option [ngValue]="1">Phase 1</option>
        <option [ngValue]="2">Phase 2</option>
        <option [ngValue]="3">Phase 3</option>
        <option [ngValue]="4">Phase 4</option>
      </select>
      Damage:
      <input type="number" step=".01" [(ngModel)]="DamageNow" />
      <button style="width: 100%;" (click)="addSquadToPhase()">Confirm</button>

    </div>

  </div>

</div>


<!-- The EDIT Modal -->
<div id="myModalEDIT" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="height:80%">
    <div class="modal-header" style="height:10%">
      <span class="close" (click)="closeModalEDIT()">&times;</span>
      <h2>Edit a Squad</h2>
    </div>
    <div class="modal-body" style="height: 70%;">

      <div style="height:100%; overflow:scroll;">

        <div *ngFor="let charakter of ActualPlayer.Charaktere">

          <fieldset *ngIf="(charakter.Sterne > 6) && ( (!(charAlreadyPlaced(charakter))) || charInTemp(charakter) )" style="height: 135px;" (click)="selectChar(charakter)">
            <legend>{{charakter.Name}} of {{charakter.Besitzer}}</legend>
            Power: {{charakter.Power}}
            <br />
            <div class="parentOfImages">
              <img *ngIf="charakter.Sterne>0" src="/assets/picture/star.png" class="star11">
              <img *ngIf="charakter.Sterne>1" src="/assets/picture/star.png" class="star12">
              <img *ngIf="charakter.Sterne<2" src="/assets/picture/nostar.png" class="star12">
              <img *ngIf="charakter.Sterne>2" src="/assets/picture/star.png" class="star13">
              <img *ngIf="charakter.Sterne<3" src="/assets/picture/nostar.png" class="star13">
              <img *ngIf="charakter.Sterne>3" src="/assets/picture/star.png" class="star14">
              <img *ngIf="charakter.Sterne<4" src="/assets/picture/nostar.png" class="star14">
              <img *ngIf="charakter.Sterne>4" src="/assets/picture/star.png" class="star15">
              <img *ngIf="charakter.Sterne<5" src="/assets/picture/nostar.png" class="star15">
              <img *ngIf="charakter.Sterne>5" src="/assets/picture/star.png" class="star16">
              <img *ngIf="charakter.Sterne<6" src="/assets/picture/nostar.png" class="star16">
              <img *ngIf="charakter.Sterne>6" src="/assets/picture/star.png" class="star17">
              <img *ngIf="charakter.Sterne<7" src="/assets/picture/nostar.png" class="star17">

              <img *ngIf="charakter.Zetas>=1" src="/assets/picture/zeta.png" class="zeta1">
              <img *ngIf="charakter.Zetas>=2" src="/assets/picture/zeta.png" class="zeta2">
              <img *ngIf="charakter.Zetas>=3" src="/assets/picture/zeta.png" class="zeta3">

              <div>
                <img class="charImage" src="/assets/picture/{{charakter.imageUrl}}" alt="{{charakter.Name}}">
                <img class="gearImage" src="/assets/GearPNG/gear-icon-g{{charakter.gearLevel}}.png" alt="{{charakter.Name}}">
                <span class="char-level">{{charakter.Level}}</span>
                <span class="char-gear-level">{{formatGearLevel(charakter.gearLevel)}}</span>
              </div>
              <progress class="" value="{{charakter.Power}}" max="{{charakter.MaxPower}}"></progress> <span style="left: 55px; position: absolute; top: 80px; "><b>{{ roundNumber((charakter.Power/charakter.MaxPower)*100) }}%</b></span>

              <img class="selectedImg" src="/assets/picture/selected.jpg" *ngIf="SelectedChars.indexOf(charakter) > -1">

            </div>
          </fieldset>

        </div>
      </div>
    </div>

    <div class="modal-body" style="height: 20%;">

      Phase:
      <select style="width:30%;" [(ngModel)]="SelectedPhase" disabled>
        <option [ngValue]="1">Phase 1</option>
        <option [ngValue]="2">Phase 2</option>
        <option [ngValue]="3">Phase 3</option>
        <option [ngValue]="4">Phase 4</option>
      </select>
      Damage:
      <input type="number" step=".01" [(ngModel)]="DamageNow" />
      <button style="width: 100%;" (click)="editSquadInPhase()">Confirm</button>

    </div>

  </div>

</div>

