<div style="text-align:center">
  <h3>
    {{'WelcomeText' | language}}
  </h3>

  <table *ngIf="gildenService.gildenInfos && gildenService.gildenInfos.members>0 && !gildenService.isInSync" style="width: 100%;">
    <tr>
      <td>{{'AllDataText' | language}} <a href="http://swgoh.help">swgoh.help</a> {{'AllPictureText' | language}} <a href="http://www.swgoh.gg">www.swgoh.gg</a></td>
    </tr>
    <tr>
      <td>{{'GuildName' | language}} = {{gildenService.gildenInfos.name}}</td>
    </tr>
    <tr>
      <td>{{'GildenGP' | language}} = {{gildenService.gildenInfos.gp}}</td>
    </tr>
    <tr>
      <td>{{'GildenDescription' | language}} = {{gildenService.gildenInfos.desc}}</td>
    </tr>
    <tr> </tr>
    <tr> </tr>
    <tr>
      <td>{{'RaidsPlayed' | language}}:</td>
    </tr>
    <tr>
      <td>Rancor = {{gildenService.gildenInfos.raid.rancor}}</td>
    </tr>
    <tr>
      <td>AAT = {{gildenService.gildenInfos.raid.aat}}</td>
    </tr>
    <tr>
      <td>STR = {{gildenService.gildenInfos.raid.sith_raid}}</td>
    </tr>
    <tr> </tr>
    <tr> </tr>
    <tr>
      <td>{{'LastSync' | language}} = {{gildenService.gildenInfos.updated | date: "dd.MM.yyyy HH:mm:ss"}}</td>
    </tr>
  </table>

 <dx-text-area *ngIf="gildenService.isInSync" [height]="windowNow.innerHeight-175" [readOnly]="true" [(value)]="gildenService.syncstatus"></dx-text-area>

  
  <h3 *ngIf="settingsService.settings.allycode==''">{{'EnterAllyCode' | language}}</h3>
  <h3 *ngIf="gildenService.gildenInfos && gildenService.gildenInfos.members==0 && settingsService.settings.allycode!=''">{{'PleaseSync' | language}}</h3>

</div>

<button (click)="syncApi()" style="position: absolute; bottom: 10px; left: 0px;">{{'Synchronise' | language}} ({{gildenService.isInSync}})</button>
