<input type="text" placeholder="Charname ( e.g 'Boba Fett' or 'Boba'  )" [(ngModel)]="charToSearch" (ngModelChange)="getCharsFromGildenInfos()">

<div *ngFor="let char of charsFromGildenInfos" class="charNow">
  <fieldset style="height: 115px;">
    <legend>{{char.Name}} of {{char.Besitzer}}</legend>
    <br />
    <div class="parentOfImages">
      <img *ngIf="char.Sterne>0" src="/assets/picture/star.png">
      <img *ngIf="char.Sterne<1" src="/assets/picture/nostar.png">
      <img *ngIf="char.Sterne>1" src="/assets/picture/star.png">
      <img *ngIf="char.Sterne<2" src="/assets/picture/nostar.png">
      <img *ngIf="char.Sterne>2" src="/assets/picture/star.png">
      <img *ngIf="char.Sterne<3" src="/assets/picture/nostar.png">
      <img *ngIf="char.Sterne>3" src="/assets/picture/star.png">
      <img *ngIf="char.Sterne<4" src="/assets/picture/nostar.png">
      <img *ngIf="char.Sterne>4" src="/assets/picture/star.png">
      <img *ngIf="char.Sterne<5" src="/assets/picture/nostar.png">
      <img *ngIf="char.Sterne>5" src="/assets/picture/star.png">
      <img *ngIf="char.Sterne<6" src="/assets/picture/nostar.png">
      <img *ngIf="char.Sterne>6" src="/assets/picture/star.png">
      <img *ngIf="char.Sterne<7" src="/assets/picture/nostar.png">

      <img *ngIf="char.Zetas>=1" src="/assets/picture/zeta.png" class="zeta1">
      <img *ngIf="char.Zetas>=2" src="/assets/picture/zeta.png" class="zeta2">
      <img *ngIf="char.Zetas>=3" src="/assets/picture/zeta.png" class="zeta3">

      <div class="parentOfImages">
        <img class="charImage" src="/assets/picture/{{char.imageUrl}}" alt="{{char.Name}}">
        <img class="gearImage" src="/assets/GearPNG/gear-icon-g{{char.gearLevel}}.png" alt="{{char.Name}}">
        <span class="char-level">{{char.Level}}</span>
        <span class="char-gear-level">{{formatGearLevel(char.gearLevel)}}</span>
      </div>
      </div>
      </fieldset>
</div>
