input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.parentOfImages {
  position: relative;
  top: -25px;
  left: 0;
}

.charImage {
  position: absolute;
  z-index: -1;
  top: 0px;
  border-radius: 50%;
  transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  -webkit-transform: scale(0.7, 0.7);
}

.gearImage {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 0;
  transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
}

.zeta1 {
  position: absolute;
  top: 15px;
  left: 120px;
  transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
  z-index: 3;
}

.zeta2 {
  position: absolute;
  top: 35px;
  left: 120px;
  transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
  z-index: 3;
}

.zeta3 {
  position: absolute;
  top: 55px;
  left: 120px;
  transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
  z-index: 3;
}

.char-level {
  color: #fff;
  background-color: #264257;
  border: 2px solid #fff;
  text-align: center;
  border-radius: 100%/130% 130% 15px 15px;
  position: absolute;
  left: 70px;
  top: 78px;
  z-index: 3;
  width: 30px;
  padding: 0 5px;
}

.char-gear-level {
  color: #fff;
  background-color: #006600;
  border: 2px solid #fff;
  text-align: center;
  border-radius: 100%/130% 130% 15px 15px;
  position: absolute;
  left: 43px;
  top: 90px;
  z-index: 3;
  width: 30px;
  padding: 0 5px;
}

progress {
  background-color: #f3f3f3;
  border: 0;
  top: 115px;
  position: absolute;
  height: 18px;
  border-radius: 9px;
}
